absl-py==2.2.2
aenum==3.1.15
affine==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
albucore==0.0.16
albumentations==1.4.6
alembic==1.15.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
asttokens 
attrs==25.3.0
autopage==0.5.2
backcall 
bitsandbytes==0.45.4
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cliff==4.9.1
cligj==0.7.2
cloudpickle==3.1.1
cmaes==0.11.1
cmd2==2.5.11
colorlog==6.9.0
comm 
contourpy==1.3.1
cycler==0.12.1
databricks-sdk==0.49.0
debugpy 
decorator 
Deprecated==1.2.18
distlib==0.3.9
docker==7.1.0
docstring_parser==0.16
efficientnet_pytorch==0.7.1
einops==0.8.1
executing 
fastapi==0.115.12
filelock==3.18.0
fiona==1.10.1
Flask==3.1.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.3.2
geopandas==1.0.1
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.38.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.1.1
grpcio==1.71.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.13.0
huggingface-hub==0.30.1
hydra-colorlog==1.2.0
hydra-core==1.3.2
hydra-optuna-sweeper==1.2.0
identify==2.6.9
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.1.0
ipykernel 
ipython 
itsdangerous==2.2.0
jedi 
Jinja2==3.1.6
joblib==1.4.2
jsonargparse==4.35.0
jupyter_client 
jupyter_core 
kiwisolver==1.4.8
kornia==0.8.0
kornia_rs==0.1.8
lazy_loader==0.4
lightly==1.5.19
lightly-utils==0.0.2
lightning==2.5.1
lightning-utilities==0.14.2
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline 
mdurl==0.1.2
mlflow==2.21.2
mlflow-skinny==2.21.2
mpmath==1.3.0
multidict==6.3.0
munch==4.0.0
nest_asyncio 
networkx==3.4.2
nodeenv==1.9.1
numpy==2.2.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
omegaconf==2.3.0
opencv-python-headless==4.11.0.86
opentelemetry-api==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-semantic-conventions==0.52b1
optuna==2.10.1
packaging==24.2
pandas==2.2.3
parso 
pbr==6.1.1
pexpect 
pickleshare 
pillow==11.1.0
platformdirs==4.3.7
pluggy==1.5.0
pre_commit==4.2.0
pretrainedmodels==0.7.4
prettytable==3.16.0
prompt_toolkit 
propcache==0.3.1
protobuf==5.29.4
psutil 
ptyprocess 
pure_eval 
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.1
pydantic_core==2.33.0
Pygments==2.19.1
pyogrio==0.10.0
pyparsing==3.2.3
pyperclip==1.9.0
pyproj==3.7.1
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytorch-lightning==2.5.1
pytz==2025.2
PyYAML==6.0.2
pyzmq 
rasterio==1.4.3
requests==2.32.3
rich==13.9.4
rioxarray==0.18.2
rootutils==1.0.7
rsa==4.9
rtree==1.4.0
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
segmentation_models_pytorch==0.4.0
shapely==2.0.7
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.40
sqlparse==0.5.3
stack_data 
starlette==0.46.1
stevedore==5.4.1
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
terratorch==1.0
threadpoolctl==3.6.0
tifffile==2025.3.30
timm==1.0.15
torch==2.6.0
torchgeo==0.6.2
torchmetrics==1.7.0
torchvision==0.21.0
tornado 
tqdm==4.67.1
traitlets 
triton==3.2.0
typeshed_client==2.7.0
typing-inspection==0.4.0
typing_extensions 
tzdata==2025.2
urllib3==2.3.0
uvicorn==0.34.0
virtualenv==20.30.0
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.17.2
xarray==2025.3.1
yarl==1.18.3
zipp==3.21.0
